    
    #advisorClose{
        background: #009999;
    }

    #advisorSlotOpen:hover{
        cursor: pointer;
        color: red
    }

    #advisorSlotClose{
        background: #002222;
    }



