    
    .advisorSlotOpen{
        background: #7FFA66;
    }

    .advisorSlotOpen:hover{
        cursor: pointer;
        color: red;
    }

    .advisorSlotClose{
        background: #002222;
    }



